@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600;700;800&family=Josefin+Sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

/* root var style  */
/* root var style  */

:root {
    --primary: #ff5214;
    --subtext: #3b3b3b;
    --tagline: #fff;
    --headline: 64px;
    --headline2: 42px;
    --subtext: 16px;
    --primary-text-font: 'Josefin Sans', sans-serif;
    --sub-text-font:'Barlow', sans-serif;
    --primary-weight:700;
    --sub-weight:400;
  }

  a{
    text-decoration: none;
    padding: 10px;
    color: var(--headline)
  }

  .highline{
    color: var(--subtext);
    font-weight: 700;
  }

  .section-tille{
    color: var(--primary);
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: var(--headline);
    text-align: center;
    margin: 100px 0;
  }

  .section-details{
    color: #000;
    font-family: var(--primary-text-font);
    font-weight: 600;
    text-align: center;
  }
/* root var style  */
/* root var style  */


.root-title{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: var(--headline);
    text-align: center;
    padding: 350px 0;
}

*{
    font-family:var(--primary-text) ;

    font-weight: 800;
}
/* cover section start  */
/* cover section start  */

.top-cover-section{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.788), rgba(207, 87, 6, 0.384)), url("../src/assets/cover/technolog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    padding: 240px 0;
}

.header-content h1{
    font-size: 64px;
    padding: 20px;
    color: var(--tagline);
    font-family: var(--primary-text-font);
    font-weight: var(--primary-weight);
}
.header-content h6{
    font-size: 20px;
    color: var(--primary);
    font-family: var(--sub-text-font);
    font-weight: var(--sub-weight);
    padding-top: 20px;
}

.header-content button{
    padding: 12px 80px;
    background-color: var(--primary);
    color: #fff;
    border:none;
    margin-top: 40px;
    border-radius: 10px;
    font-family: var(--primary-text-font);
    font-size: 16px;
    font: 400;
    transition: .3s;
}

.header-content button:hover{
    transform: scale(0.8);
}
.navbar-nav a{
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: 20px;
}

.navbar-nav a:hover{
    color:var(--primary)
}

.navbar-nav a:focus{
    color:var(--primary)
}

.icon-sction{
    font-family: var(--primary-text-font);
    text-align: center;
}
.icon-sction h3{
    font-weight: 700;
    color: var(--primary);
    font-size: 32px;
}
.icon{
    width: 80px;
    margin: 0 auto;
    padding: 23px;
    background-color: var(--primary);
    border-radius: 50px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 24px;
}
.icon-2{
    width: 80px;
    margin: 0 auto;
    padding: 23px;
    background-color: var(--primary);
    border-radius: 50px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 24px;
}


@media (min-width: 300px) and (max-width: 768px) {
    .navbar-nav{
        width: 70% !important;
        margin: 0 auto !important;
        text-align: center !important;
        background-color: #fff !important;
    }
}

@media (min-width: 300px) and (max-width: 475px) {
    .header-content {
        padding: 60px 0;
    }
    .header-content h1{
        font-size: 44px;
        padding: 0;
    }
    .header-content h6{
        font-size: 14px;
        padding-top: 4px; 
    }
    .mobile-ui{
        display: block !important;
    }
}
/* cover section start  */
/* cover section start  */

/* Story key clients section start  */
/* Story key clients section start  */

.storiers{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.storiers .story-1{
    width: 30%;
}
.story-1 h1{
    font-family: var(--primary-text-font);
    font-weight: var(--primary-weight);
    color: var(--primary);
    font-size: 42px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
}



.story-1 h4{
    color: var(--subtext);
    font-family: var(--sub-text-font);
    font-size: 20px;
    line-height: 20px;
    line-height: 35px;
    text-align: left;
    width: 80%;
}
.storiers .story-2{
    width: 70%;
    background: #FF9B0A;
    background: -webkit-radial-gradient(left, #FF9B0A, #FFBD25);
    background: -moz-radial-gradient(left, #FF9B0A, #FFBD25);
    background: radial-gradient(to right, #FF9B0A, #FFBD25);
}

.video-story{
    padding: 90px 0;
    margin-left: 107px;
}

.quote-btn{
    background-color: var(--primary);
    border: none;
    padding: 5px 15px;
    font-family: var(--primary-text-font);
    color: #fff;
    font-size: 16px;
    margin-top: 100px;
    transition: 0.3s;
}
.quote-btn:hover{
    transform: scale(0.8);
}

@media (min-width: 300px) and (max-width: 475px){
    .storiers{
        display: block;
    }
    .storiers .story-1 {
        width: 100%;
    }
    .story-1 h1{
        margin-bottom: 20px;
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .story-1 h4{
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .quote-btn{
        font-size: 12px;
        width: 100%;
        margin: 10px 0;
    }
    .storiers .story-2{
        width: 100%;
        background: none;
    }
    .video-story {
        padding: 10px 0;
        margin-left: 0;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
    }

}
/* Story key clients section start  */
/* Story key clients section start  */


/* tech section start  */
/* tech key clients section start  */


@media (min-width: 300px) and (max-width: 475px){
    .section-tille{
        font-size: 34px !important;
        margin: 20px 0 !important;
    }
}

/* tech key clients section start  */
/* tech key clients section start  */


/* promo-banner section start  */
/* promo-banner section start  */

.promo-banner{
    margin-top: 100px;
    background-color: #ff53146e;
}
.promo-hero>h1{
    font-family: var(--primary-text-font);
    color: #fff;
    font-size: var(--headline);
    text-transform: uppercase;
    font-weight: var(--primary-weight);
    padding: 60px 0;
}

.promo-hero-subtext{
    font-family: var(--primary-text-font);
    margin-top: 80px;
}


.promo-btn{
    background-color: var(--primary);
    border: none;
    padding: 5px 15px;
    font-family: var(--primary-text-font);
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    transition: 0.3s;
}
.promo-btn:hover{
    transform: scale(0.8);
}

.promo-box{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 300px) and (max-width: 475px) {
    .promo-box{
        display: block;
    }
    .promo-hero>h1{
        font-size: 32px;
        padding: 30px 0;
    }
    .promo-hero-subtext {
        margin-top: 40px
    }
    .promo-dis{
        padding-bottom: 10px;
    }
}
/* promo-banner section start  */
/* promo-banner section start  */


/* Industries section start  */
/* Industries section start  */
.in-background{
    background-color: var(--primary);
    padding: 50px 0;
}
.in-hover{
    transition: 0.3s;
}
.in-hover:hover{
    transform: scale(1.2);
}
.in-icon{
    color: #fff;
    font-size: 40px;
    padding: 80px;
    height: 50px;
}
/* 
.in-icon-2{
    color: #000;
    font-size: 40px;
    padding: 80px;
    height: 50px;
} */
.col-2 h3{
    font-size: 22px;
    color: #fff;
    font-family: var(--primary-text-font);
}

@media (min-width: 300px) and (max-width: 475px){
    .in-icon{
        margin-top: 0px;
        font-size: 20px;
        padding: 140px;
    }
}
/* Industries section start  */
/* Industries section start  */




/* Strategy section start  */
/* Strategy section start  */

.stra-box{
    display: flex;
    justify-content: space-between;
}

.stra-icon h1{
    font-size: 160px;
    font-family: var(--primary-text-font);
    font-weight: 700;
}
.discrip{
    width: 80%;
}
.discrip h1{
    font-size: 60px;
    font-family: var(--primary-text-font);
    font-weight: 700;
    color: var(--primary);
}

.discrip p{
    font-size: 18px;
    font-weight: 600;
}


@media (min-width: 300px) and (max-width: 475px) {
    .stra-box{
        display: block;
    }
    .stra-icon h1{
        text-align: center;
        font-size: 110px;
    }
    .discrip h1{
        text-align: center;
        font-size: 32px;
    }
    .discrip p{
        text-align: center;
    }
    .discrip{
        width: 100%;
    }
}


/* Strategy section start  */
/* Strategy section start  */



/* join section start  */
/* join section start  */

    .join-section h2{
        font-size: 48px;
        font-family: var(--primary-text-font);
        font-weight: 700;
        color: var(--primary);
    }

    .join-section p{
        margin-top: 50px;
        font-size: 24px; 
        font-family: var(--primary-text-font);
        font-weight: 600;
    }

    .join-btn{
        background-color: var(--primary);
        border: none;
        margin-top: 50px;
        padding: 5px 15px;
        font-family: var(--primary-text-font);
        color: #fff;
        font-size: 20px;
        transition: 0.3s;
    }

    .join-btn:hover{
        transform: scale(1.2);
    }

    .join-wrap{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    .join-section{
        width: 40%;
    }
    .join-img{
        width: 45%;
    }

    @media (min-width: 300px) and (max-width: 475px){
        .join-wrap{
            margin-top: 100px;
            display: block;
        }
        .join-section{
            width: 100%;
        }
        .join-section h2{
            font-size: 32px;
            text-align: center;
        }
        .join-section p{
            margin-top: 20px;
            font-size: 10px;
            text-align: center; 
        }
        .join-btn{
            font-size: 10px;
            margin-top: 10px;
            width: 100%;
        }
        .join-img img {
            width: 300px;
            height: 140px;
            margin-top: 10px;
        }
    }


/* join section start  */
/* join section start  */


/* footer section start  */
/* footer section start  */

.footer{
    background-color: #ff53146e;
    padding: 20px 0;
}

.footer-text{
    font-size: 18px;
    font-family: var(--primary-text-font);
    font-weight: 400;
    text-align: center;
}

.footer-logo{
    filter: brightness(0) invert(1)
}

.footer-box{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
}
.footer-box h3{
    font-family: var(--primary-text-font);
    font-size: 20px;
    font-weight: 700;
}

.footer-box p{
    font-family: var(--primary-text-font);
    font-size: 16px;
}

.footer-title{
    font-size: 32px;
    font-family: var(--primary-text-font);
    text-align: center;
    font-weight: 700;
    margin-top: 90px;
    color: #fff;
}

.footer-nav{
    list-style: none;
    margin-left: 30px;
    margin-top: 70px;
}

.footer-nav{
    margin-top: 20px;
}
.footer-nav li{
    padding: 12px;
}
.footer-nav li a{
    text-decoration: none;
    font-size: 20px;
    font-family: var(--primary-text);
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}

.footer-nav li a:hover{
    color: var(--primary);
}

.footer-icon{
    font-size: 26px;
    color: #fff;

}

.footer-icon svg:hover{
    color: var(--primary);
}

.footer-icon svg{
    margin-left: 32px;
    transition: 0.3s;
}
.footer-contact {
    color: #fff;
    font-family: var(--primary-text-font);
    margin-top: 20px;
    margin-left: 30px;
}
.footer-contact a{
    text-decoration: none;
    color: #fff;
}

/* footer section start  */
/* footer section start  */


/* family section start  */
/* family section start  */

.row>*{
    padding-left: 0 !important;
}

.usa{
    background-image:linear-gradient(0deg, rgba(207, 86, 6, 0.589), rgba(207, 86, 6, 0.589)), url("../src/assets/family/usa.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.usa h1{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: 48px;
}

.usa p{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 500;
    font-size: 22px;
}

.usa:hover {
    transform: scale(0.95);

}

.uk{
    background-image:linear-gradient(0deg, rgba(6, 177, 207, 0.685), rgba(6, 177, 207, 0.651)), url("../src/assets/family/uk.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
.uk h1{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: 48px;
}

.uk p{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 500;
    font-size: 22px;
    padding: 0 5px;
}

.uk:hover {
    transform: scale(0.95);

}


.bd{
    background-image:linear-gradient(0deg, rgba(207, 36, 6, 0.685), rgba(207, 53, 6, 0.651)), url("../src/assets/family/bd.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
.bd h1{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 700;
    font-size: 48px;
}

.bd p{
    color: #fff;
    font-family: var(--primary-text-font);
    font-weight: 500;
    font-size: 22px;
    padding: 0 5px;
}

.bd:hover {
    transform: scale(0.95);

}


@media (min-width: 300px) and (max-width: 475px) {
    /* .usa{
        width: 90%;
        margin: 0 auto;
    } */
    .row{
        text-align: center;
    }
    .usa{
        height: 300px;
    }
    .uk{
        height: 150px;
    }
    .bd{
        height: 150px;
    }
    .usa p{
        font-size: 7px;
    }
    .uk p{
        font-size: 7px;
    }
    .bd p{
        font-size: 7px;
    }

    .usa h1 {
        font-size: 12px;
    }
    .uk h1 {
        font-size: 12px;
    }
    .bd h1 {
        font-size: 12px;
    }
}

/* family section start  */
/* family section start  */





/* service-header-section section start  */
/* service-header-section section start  */


.service-header-section{
    background-image:linear-gradient(0deg, rgba(207, 96, 6, 0.575), rgba(207, 96, 6, 0.562)), url("../src/assets/service/service.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

/* service-header-section section start  */
/* service-header-section section start  */



/* indrustries-header-section section start  */
/* indrustries-header-section section start  */


.indrustries-header-section{
    background-image:linear-gradient(0deg, rgba(207, 96, 6, 0.575), rgba(207, 96, 6, 0.562)), url("../src/assets/inn/indrustry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

/* indrustries-header-section section start  */
/* indrustries-header-section section start  */


/* partner-header-section section start  */
/* partner-header-section section start  */


.partner-header-section{
    background-image:linear-gradient(0deg, rgba(207, 96, 6, 0.575), rgba(207, 96, 6, 0.562)), url("../src/assets/service/pexels-lukas-653429.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

/* partner-header-section section start  */
/* indrustries-header-section section start  */



/* about-header-section section start  */
/* about-header-section section start  */


.about-header-section{
    background-image:linear-gradient(0deg, rgba(207, 96, 6, 0.575), rgba(207, 96, 6, 0.562)), url("../src/assets/computer-2982270_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

/* about-header-section section start  */
/* about-header-section section start  */





/* career-header-section section start  */
/* career-header-section section start  */


.career-header-section{
    background-image:linear-gradient(0deg, rgba(207, 96, 6, 0.575), rgba(207, 96, 6, 0.562)), url("../src/assets/career.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

/* career-header-section section start  */
/* career-header-section section start  */







/* card-services-section section start  */
/* card-services-section section start  */


.card{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 350px !important;
}

.card-img-top{
    width: 30%;
    padding: 5px;
    margin: 15px 0 0px 15px;
}
.card-title{
    font-weight: 700 !important;
    font-family: var(--primary-text-font) !important;
}

.card-text{
    font: 10px !important;
    font-family: var(--primary-text);
    font-weight: 500;
}

.card-text a{
    color: var(--primary);
    font: 14px !important;
    font-family: var(--primary-text-font);
    font-weight: 700;
    padding: 0;
    margin-top: 5px;
}

.card-text a:hover{
    transform: scale(1.2) !important;
}

.tagline-service{
    font-size: 18px;
    font-family: var(--primary-text-font);
    font-weight: 600;
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.stage{
    display: flex;
    justify-content: center;
}
.work-proccess img{
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
}

@media (min-width: 268px) and (max-width:475px) {
    .stage{
        display: block;
    }
    .stage img{
        width: 100%;
        height: 200px;
    }
    .work-proccess img{
        height: 125px;
    }
}

/* card-services-section section start  */
/* card-services-section section start  */





/* laptop- responsive section start  */
/* laptop- responsive section start  */


@media (min-width:300px) and (max-width:475px) {
    .card-img-top {
        margin: 5px auto !important;
    }
}
.card{
    margin: 0 auto !important;
}

/* laptop- responsive section start  */
/* laptop- responsive section start  */



